.main-content {
    margin-left: 230px;
    margin-top: 20px;
    border-color: rgb(224, 224, 224);
    background: rgb(255, 255, 255);
    margin-right: 10px;
    border-radius: 3px;
    overflow: auto;
    overflow-x: hidden;
}

.block-main {
    height: 350px;
    margin: 30px 10px;
    border: 1px rgb(224, 224, 224) solid;
}

.clear-log-table-hight th,td{
    line-height: 45px!important;
}

.clear-log-table-hight th{
    font-weight: 700;
}


hr {
    border-top: 2px solid #eee!important;
}